<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Prime App</title>
    </head>
    <body>
            <label for="fname">Number:</label>
            <input type="number" id="num" name="num">
            <br><br>
            <button id="isprime">check</button>
            <button id="test">test</button>
            The number is <span id="usernumber">{{ usernumber }} </span>
            Is it Prime?  <span id="prime">{{ prime }}</span>
            Test <span id="testresult"> {{ test }}</span>

    </body>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('button').forEach(button => {
                button.onclick = () => {
                    const request = new XMLHttpRequest();
                    number = document.getElementById("num").value;
                    request.open('POST', `/${button.id}`+'/'+ number);
                    request.onload = () => {
                        document.getElementById("usernumber").interHTML= number;
                        const response = request.responseText;
                        document.getElementById('prime').innerHTML = response;
                        document.getElementById('testresult').innerHTML = response;                   }; 
                    request.send();
                };
            });
        });
    </script>
</html>